.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #faede1;
  padding: 8px 12px;
  font-size: 30px;
  font-weight: 600;
}

.navbar__menu {
  display: flex;
}

.navbar__menu li {
  padding: 8px 24px;
}

.navbar__menu :hover,
.navbar__login :hover {
  background: #ffad57;
  border-radius: 1rem;
}

.navbar__login {
  display: flex;
}

.navbar__login li {
  padding: 8px 24px;
}
